<div class="row">
	<div class="large-12 columns">
		<h2>Gazelle Budget</h2>
		<h4>Online Budgeting Software</h4>
		<hr />
		<p>(Version 1.0.0.0)</p>
	</div>
</div>
	
<div class="row">
	<div class="large-8 columns">
		<h3>Existing Budgets</h3>
		<div class="row">
			<div class="large-4 columns">
				<p>Ellie is great!</p>
			</div>
			<div class="large-4 columns">
				<p>This is just a test.</p>
			</div>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel">
			<h3>About Me</h3>
			<p>My name is Todd Meinershagen and I am the creator of this tool.</p>
			<h4>Other Resources</h4>
				<ul class="disc">
					<li><a href="https://github.com/toddmeinershagen?tab=repositories">GitHub Repository</a><br />A set of repositories that I have been maintaining on GitHub.</li>
					<li><a href="http://www.facebook.com/todd.meinershagen">Facebook</a><br />Get the latest information about my personal life here.</li>
				</ul>
			</p>
			<p><input type="text"></input></p>
			<p><a href="#" class="small button">Submit</a></p>
		</div>
	</div>
</div>