<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="#">Gazelle Budgeting</a>
            </h1>
        </li>
        @*We don't need this until we introduce any menu items*@
        @*<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>*@
    </ul>
</nav>
	
<div class="row">
    <div class="large-8 columns">
        <h3>Budgets</h3>

        <div class="section-container tabs" data-section="">
            <section class="section">
                <h5 class="title"><a href="#panel1">Existing</a></h5>
                <div class="content" data-slug="panel1">
                    <form>
                        <p>This is a placeholder for a grid of existing budgets.  (Name, Start Date, End Date)</p>
                    </form>
                </div>
            </section>
            <section class="section">
                <h5 class="title"><a href="#panel2">Create New</a></h5>
                <div class="content" data-slug="panel2">
                    <form>
                        <p>This is a placeholder for an entry form for starting a new budget.</p>
                    </form>
                </div>
            </section>
        </div>
   
	</div>
    
    
    <div class="large-4 columns">
		<div class="panel">
			<h3>About Me</h3>
			<p>My name is Todd Meinershagen and I am the creator of this tool.</p>
			<h4>Other Resources</h4>
				<ul class="disc">
					<li><a href="https://github.com/toddmeinershagen?tab=repositories">GitHub Repository</a><br />A set of repositories that I have been maintaining on GitHub.</li>
					<li><a href="http://www.facebook.com/todd.meinershagen">Facebook</a><br />Get the latest information about my personal life here.</li>
				</ul>
			</p>
			<p><input type="text"></input></p>
			<p><a href="#" class="small button">Submit</a></p>
		</div>
    </div>

</div>